.project{
	width:95%;
	height:100%;
	padding: 0 0 15px 0;
	margin:auto;
	margin-top:15px;
}

div.project_pic{
	float:left;
	height:100%;
	width:25%;
}

div.project_pic2{
	float:right;
	height:100%;
	width:15%;
	padding: 0 0 0 10px;
}

div.project_content{
	height:100%;
	width:100%;
}

p.caption{
	text-indent:0px;
	font-size:80%;
	padding: 2px 10px 2px 2px;
	text-align:left;
}

p.caption2{
	text-indent:0px;
	font-size:80%;
	padding: 2px 2px 2px 10px;
	text-align:right;
}

.row_pic{
	height:95%;
	width:95%;
	margin: 0 5% 0 0;
}

.row_pic2{
	height:95%;
	width:95%;
	margin: 0 0 0 5%;
}



